parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @var for variable \\$answer has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/AdminConfiguration/MakeAdminConfigurationCommand.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<Sulu\\\\Component\\\\Security\\\\Authorization\\\\PermissionTypes\\>\\|Sulu\\\\Component\\\\Security\\\\Authorization\\\\PermissionTypes, string given\\.$#"
			count: 1
			path: src/AdminConfiguration/MakeAdminConfigurationCommand.php
